#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define DEF 0
#define NAV 1
#define SYM 2
#define ADJ 3
#define extra1 4

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&mo>, <&kp>;

            quick-tap-ms = <180>;
            global-quick-tap;
        };

        para: para {
            compatible = "zmk,behavior-tap-dance";
            label = "PARA";
            #binding-cells = <0>;
            bindings = <&kp LEFT_PARENTHESIS>, <&kp RIGHT_PARENTHESIS>;
        };

        caps: caps {
            compatible = "zmk,behavior-caps-word";
            label = "CAPS";
            #binding-cells = <0>;
            continue-list = <MINUS BACKSPACE>;
        };

        paraless: paraless {
            compatible = "zmk,behavior-mod-morph";
            label = "PARALESS";
            bindings = <&kp LEFT_PARENTHESIS>, <&kp LESS_THAN>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        paragreat: paragreat {
            compatible = "zmk,behavior-mod-morph";
            label = "PARAGREAT";
            bindings = <&kp RIGHT_PARENTHESIS>, <&kp GREATER_THAN>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        hmm: hmm {
            compatible = "zmk,behavior-hold-tap";
            label = "HMM";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;

            quick-tap-ms = <180>;
            global-quick-tap;
        };
    };

    macros {
        browsertab: browsertab {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&kp TAB>,
                <&macro_release>,
                <&kp LCTRL>;
        };

        browsertab_prev: browsertab_prev {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL &kp LSHFT>,
                <&macro_tap>,
                <&kp TAB>,
                <&macro_release>,
                <&kp LCTRL &kp LSHFT>;

            label = "BROWSERTAB_PREV";
        };

        zoom_in: zoom_in {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LGUI>,
                <&macro_tap>,
                <&kp PLUS>,
                <&macro_release>,
                <&kp LGUI>;

            label = "ZOOM_IN";
        };

        zoom_out: zoom_out {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LGUI>,
                <&macro_tap>,
                <&kp MINUS>,
                <&macro_release>,
                <&kp LGUI>;

            label = "ZOOM_OUT";
        };
    };

    combos {
        compatible = "zmk,combos";

        lparen {
            bindings = <&kp LEFT_PARENTHESIS>;
            key-positions = <3 4>;
        };

        rparen {
            bindings = <&kp RIGHT_PARENTHESIS>;
            key-positions = <7 8>;
        };

        lbrkt {
            bindings = <&kp LBKT>;
            key-positions = <15 16>;
        };

        rbrkt {
            bindings = <&kp RBKT>;
            key-positions = <20 19>;
        };

        lbrc {
            bindings = <&kp LBRC>;
            key-positions = <27 28>;
        };

        rbrc {
            bindings = <&kp RBRC>;
            key-positions = <31 32>;
        };
    };

    //

    keymap {
        compatible = "zmk,keymap";

        DEF {
            display-name = "Base";

            // -----------------------------------------------------------------------------------------
            // |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  |
            // |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |
            // |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  |
            // | GUI | CTRL | SHFT | LWR | SPC |   | ENT | RSE  | BKSP | ALT | ESC |

            bindings = <
&kp TAB       &hmm LEFT_ALT Q  &kp W            &kp E  &kp R      &kp T       &kp Y     &kp U    &kp I      &kp O                 &hmm RIGHT_ALT P   &kp BACKSPACE
&lt 1 ESCAPE  &kp A            &hmm LCTRL S     &kp D  &kp F      &kp G       &kp H     &kp J    &kp K      &hmm RCTRL L          &kp SEMI           &lt 1 SQT
&kp LSHFT     &mt LS(LALT) Z   &mt LS(LCTRL) X  &kp C  &hm 2 V    &kp B       &kp N     &hm 2 M  &kp COMMA  &mt RS(RCTRL) PERIOD  &mt RS(RALT) FSLH  &kp RSHFT
                                                &mo 4  &kp SPACE  &kp LGUI    &kp RGUI  &kp RET  &mo 3
            >;
        };

        SYM {
            display-name = "Symbols";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&trans  &kp EXCL   &kp AT     &kp HASH        &kp DLLR  &kp PRCNT    &kp ASTRK  &kp PLUS  &kp EQUAL  &kp LEFT_PARENTHESIS  &kp RPAR       &trans
&trans  &kp TILDE  &kp GRAVE  &kp UNDERSCORE  &kp PIPE  &kp AMPS     &kp CARET  &kp LT    &kp MINUS  &kp GT                &kp DOLLAR     &kp DOUBLE_QUOTES
&trans  &trans     &trans     &trans          &trans    &trans       &kp LBKT   &kp RBKT  &kp LBRC   &kp RBRC              &kp BACKSLASH  &trans
                              &trans          &trans    &trans       &trans     &trans    &trans
            >;
        };

        NUM {
            display-name = "Num";
            bindings = <
&trans      &kp N1  &kp N2  &kp N3  &kp N4  &kp N5    &kp N6  &kp N7  &kp N8  &kp N9  &kp N0  &trans
&caps_word  &trans  &trans  &trans  &trans  &trans    &trans  &kp N4  &kp N5  &kp N6  &trans  &trans
&trans      &trans  &trans  &trans  &trans  &trans    &trans  &kp N1  &kp N2  &kp N3  &trans  &trans
                            &trans  &trans  &trans    &trans  &trans  &kp N0
            >;
        };

        NAV {
            display-name = "Nav";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            // | GUI | CTRL | SHFT | LWR | SPC |   | ENT | RSE  | BKSP | ALT | ESC |

            bindings = <
&kp LG(GRAVE)  &trans         &kp LS(LC(TAB))  &kp UP_ARROW                       &kp LC(TAB)          &trans               &trans  &trans              &kp LG(UP_ARROW)    &trans         &trans  &trans
&trans         &kp PG_UP      &kp LEFT_ARROW   &kp DOWN_ARROW                     &kp RIGHT_ARROW      &kp K_SCROLL_UP      &trans  &kp LG(LEFT_ARROW)  &kp LG(DOWN_ARROW)  &kp LG(RIGHT)  &trans  &trans
&trans         &kp PAGE_DOWN  &kp LA(LEFT)     &trans                             &kp LA(RIGHT_ARROW)  &kp K_SCROLL_DOWN    &trans  &trans              &trans              &trans         &trans  &trans
                                               &kp C_AC_DESKTOP_SHOW_ALL_WINDOWS  &kp LG(MINUS)        &kp LG(PLUS)         &trans  &trans              &trans
            >;
        };

        ADJ {
            display-name = "System";
            bindings = <
&trans  &kp F1        &kp F2        &kp F3        &kp F4      &kp F5            &kp F6        &kp F7      &kp F8             &kp F9        &kp F10  &trans
&trans  &kp F11       &kp F12       &trans        &trans      &studio_unlock    &kp C_BRI_UP  &kp C_MUTE  &kp C_VOLUME_DOWN  &kp C_VOL_UP  &trans   &trans
&trans  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_CLR  &bt BT_CLR_ALL    &kp C_BRI_DN  &kp C_PREV  &kp C_PLAY_PAUSE   &kp C_NEXT    &trans   &trans
                                    &trans        &sys_reset  &bootloader       &bootloader   &sys_reset  &trans
            >;
        };
    };

    conditional_layers { compatible = "zmk,conditional-layers"; };
};
